# Default ignored files
/workspace.xml
*.idea
__pycache__/
/sandbox_storage/sandbox_key.pub
/secrets_storage/sandbox_key*
/queue_storage/client_cert/cacert.pem
/queue_storage/client_cert/cert.pem
/queue_storage/client_cert/key.pem
/queue_storage/client_cert/key-store.p12
/queue_storage/client_cert/req.pem
/queue_storage/client_cert/trust-store.p12
/portal/pulsar/migrations/0*
/portal/logs/django.log
/portal/logs/celery.log
/portal/celery.state
/portal/nvd/download/**
!/portal/nvd/download/.gitkeep
/portal/nvd/feeds/**
!/portal/nvd/feeds/.gitkeep
/portal/nvd/cache/**
!/portal/nvd/cache/.gitkeep
/db_storage/data/**
!/db_storage/data/.gitkeep
/db_storage/logs/**
!/db_storage/logs/.gitkeep
/db.env
/queue.env
/web.env